<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laposte.ares.ares">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:label="Ares"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MdpOublie"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Projets"
            android:label="@string/title_activity_projetsv2"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laposte.ares.ares.ActivityMain" />
        </activity>
        <activity
            android:name=".Audits"
            android:label="@string/title_activity_audits"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laposte.ares.ares.ActivityMain" />
        </activity>
        <activity
            android:name=".TableauBord"
            android:label="@string/title_activity_tableau_bord"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rapports"
            android:label="@string/title_activity_rappports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Jobs"
            android:label="@string/title_activity_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Consult_audit"
            android:label="Consulter"
            android:parentActivityName=".Audits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Users"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>